
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
/*LANDING PAGE*/

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-button {
    position: absolute;
    top: 45.2%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
    cursor: pointer;
    display: block;
}

.intro-button img {
    max-width: 400px;
    width: 100%;
    height: auto;
    display: block;
    transition: filter 0.3s ease;
}

.intro-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
}
.intro-button:hover img {
    filter: brightness(1.2);
}

/*LEAVES*/
.leaves {
    position: absolute;
    top: 25%;
    left: 6%;
    height: 100%;
    width: 100%;
    animation: sway 5s ease-in-out infinite;
    pointer-events: none;
    object-fit: cover;
}


@keyframes sway {
    0%, 100% {
        transform: rotate(-6deg);
    }
    50% {
        transform: rotate(3deg);
    }
}

/*SPARKLE*/
.sparkle {

position: absolute;
top:0;
left:0;
width: 70%;
height: 70%;
background-image: url('sparkle.png');
background-size: contain;
background-repeat: no-repeat;
animation: twinkle 5s ease-in-out infinite;
pointer-events: none;
z-index: 4;
}

@keyframes twinkle {
    0%, 100% {
        opacity: 1;
        transform: scale(0.8);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
}

/*PAGE TRANSIOTN*/
.page-transition {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease;
    pointer-events: none;
}

.page-transition.fade-out {
    opacity: 0;
}

/*Loading screeen */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
    z-index: 9999;
}

.loading-screen.active {
    opacity: 1;
    visibility: visible;
}

.loading-image {
    width: 150px;
    height: 150px;
}